<body >
<div>
<h3>Our Story</h3>
</div>

<p>Your ideal accommodation is just a few clicks away. No more headache! Compare 200+ booking sites worldwide. 
  Compare and Save Money. High-quality hotel photos. 1M+ Hotels Worldwide. </p>
 <p> Compare prices online. Compare & Save. No additional fees. Quick and reliable. Award winning company.
Hotels Delhi Hotels Mumbai Hotels Bengaluru Hotels Chennai.</p>
<form action="action_page.php" class ="d-block w-50" >
    <div class="container">
      <h2>Subscribe to our Newsletter</h2>
      <p>myhotelbooking.com......!!!</p>
    </div>
  
    <div class="container" style="background-color:white">
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required>
      <label>
        <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
      </label>
    </div>
  
    <div class="container">
      <input type="submit" value="Subscribe">
    </div>
  </form>
</body>